body {
  background: black;
}

.start-btn {
  background: black;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;

  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}


.training {
  display: block;
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.training .time {
  font-weight: bold;
  font-size: 40vmin;
  line-height: 60vmin;
  margin: 0;
}
.training .title {
  font-size: 12vmin;
  margin: 0;
  line-height: 1;
}

.stop-btn {
  background: black;
  color: grey;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;

  position: fixed;
  bottom: 0;
  left: 50vw;
  transform: translate(-50%, -50%);
}
